<div class="table-container">
  <table class="table is-fullwidth">
    <tbody>
      <% @active_days.each do |day| %>
        <tr>
          <td><%= day %></td>
          <td>Muy Bien</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>