  <table class="table is-fullwidth">
    <tbody>
      <% @active_days.each do |day| %>
        <tr>
          <td><%= day %></td>
          <td>
            <%= image_tag('favourite.png', class: 'star-icon' , style: "width: 10%;") %>
            Muy Bien
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>