<div class="container">
  <button id="btn-enable-notifications">Permitir notificaciones</button>
  <div class="hero-body">
    <div class="container">
      <!-- Card con tabla -->
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Días Activos
          </p>
        </header>
        <div class="card-content">
          <div class="content mt-0">
    
            <%= render 'table_info' %>
          </div>
        </div>
      </div>

      <!-- Agregamos una separación entre las tarjetas -->
      <div class="mt-4"></div>

      <!-- Card con recomendaciones -->
      <div class="content has-text-centered">
        <p class=" has-text-success">Recomendaciones</p>
      </div>
      <div class="card has-shadow-8">
        <div class="card-content">
          <div class="columns">
            <div class="column">
              <div class="content">
                
              </div>
            </div>
            <div class="column">
              <div class="content">
                <p>Contenido de la segunda columna...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>