<div class="container">
  <div class="separator"></div>
  <div class="hero-body">
    <div class="container">
      <!-- Card con tabla -->
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Días Activos
          </p>
        </header>
        <div class="card-content">
          <div class="content mt-0">
            <!-- Tabla con estilos responsivos -->
            <%= render 'table_info' %>
          </div>
        </div>
      </div>

      <!-- Agregamos una separación entre las tarjetas -->
      <div class="mt-4"></div>

      <!-- Card con recomendaciones -->
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Recomendaciones
          </p>
        </header>
        <div class="card-content">
          <div class="content mt-0">
            <!-- Aquí puedes agregar el contenido que desees -->
            <%= render "carrousel"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
