<section class="hero is-fullheight is-primary">
  <div class="hero-head">
    <img src="<%= asset_path('SPOHEALAPP.png') %>" alt="Imagen de Encabezado" style="width: 100%;">
  </div>

  <!-- Cuerpo de la sección -->
  <div class="hero-body">
    <div class="container">
      <!-- Card con tabla -->
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Días Activos
          </p>
        </header>
        <div class="card-content">
          <div class="content mt-0">
            <!-- Tabla con estilos responsivos -->
            <%= render 'table_info' %>
          </div>
        </div>
      </div>

      <!-- Agregamos una separación entre las tarjetas -->
      <div class="mt-4"></div>

      <!-- Card con recomendaciones -->
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Recomendaciones
          </p>
        </header>
        <div class="card-content">
          <div class="content mt-0">
            <!-- Aquí puedes agregar el contenido que desees -->
            <p>¡Bienvenido a SpoHealApp! Aquí tienes algunas recomendaciones...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
