<section class="hero is-fullheight is-success">
  <div class="hero-head">
    <img src="<%= asset_path('SPOHEALAPP.png') %>" alt="Imagen de Encabezado" style="width: 100%;">
  </div>

  <!-- Cuerpo de la sección -->
  <div class="hero-body">
    <div class="container">
      <!-- Card con tabla -->
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Días Activos
          </p>
        </header>
        <div class="card-content">
          <div class="content mt-0">
            <!-- Tabla con estilos responsivos -->
            <%= render 'table_info' %>
          </div>
        </div>
      </div>

      <!-- Agregamos una separación entre las tarjetas -->
      <div class="mt-4"></div>

      <!-- Card con recomendaciones -->
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Recomendaciones
          </p>
        </header>
        <div class="card-content">
          <div class="content mt-0">
            <!-- Aquí puedes agregar el contenido que desees -->
            <div class="slick-carousel">
              <!-- Card 1 -->
              <div class="card">
                <div class="card-content">
                  <div class="content">
                    <p>Contenido de la primera card...</p>
                  </div>
                </div>
              </div>

              <!-- Card 2 -->
              <div class="card">
                <div class="card-content">
                  <div class="content">
                    <p>Contenido de la segunda card...</p>
                  </div>
                </div>
              </div>

              <!-- Agrega más cards según sea necesario -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
