<div class="custom-section-container first-custom-section">
  <div class="left-section">
    <div class="image-container">
      <% if community.image.attached? %>
        <%= image_tag(community.image) %>
      <% else %>
        <!-- Manejo para cuando no hay imagen asociada -->
        <p>No hay imagen disponible</p>
      <% end %>
    </div>
  </div>
  <div class="right-section">
    <div class="bordered-section">
      <p class="section-text"><%= community.name %></p>
    </div>
    <div class="bordered-section">
      <p class="text2"><%= community.issue %></p>
    </div>
  </div>
</div>