<div class="custom-section-container first-custom-section">
  <div class="left-section">
    <div class="image-container">
      <!-- Cambia la ruta de la imagen según sea necesario -->
      <img src="<%= asset_path('corredor.png') %>" alt="Logo Corredor" class="custom-image">
    </div>
  </div>
  <div class="right-section">
    <div class="bordered-section">
      <p class="section-text">Running</p>
    </div>
    <div class="bordered-section">
      <p class="text2">El running, footing, correr o jogging, son algunos de los términos más usados...</p>
    </div>
  </div>
</div>