<div class="custom-section-container first-custom-section">
  <div class="left-section">
    <div class="image-container">
      <%= image_tag(community.image) %>
    </div>
  </div>
  <div class="right-section">
    <div class="bordered-section">
      <p class="section-text"><%= community.name %></p>
    </div>
    <div class="bordered-section">
      <p class="text2"><%= community.issue %></p>
    </div>
  </div>
</div>