<div class="container">
  <div class="separator"></div>
  <div class="is-flex is-justify-content-center mt-3">
    <button class="button is-success is-rounded">Crea tu comunidad</button>
  </div>
  <div class="content-container">
    <%= render "community_post" %>
  </div>
</div>
