<div class="container conteiner-margin">
  <div class="is-flex is-justify-content-center mt-3">
    <%= link_to new_community_path, class: "button is-success is-rounded" do %>
      Crea un tipo de ruta
    <% end %>
  </div>
  <div class="content-container">
    
  </div>
</div>
