<div class="container">
  <div class="is-flex is-justify-content-center mt-3">
    <%= link_to new_user_activity_path, class: "button is-success is-rounded" do %>
      Registra tus Ejercicios
    <% end %>
  </div>
  <div class="content-container">
    <div class="custom-section-container first-custom-section">
      <div class="left-section">
        <div class="image-container">
          <img src="<%= asset_path('corredor.png') %>" alt="Logo corredor" class="image">
        </div>
      </div>
      <div class="right-section">
        <div class="">
          <p class="section-text">El running es beneficioso así que trota 30 minutosss</p>
        </div>
      </div>
    </div>
  </div>
</div>
